// レイアウト幅
$layout-width-inner: 1366px;

// ブレークポイント
$breakpoints: (
  "sp": "screen and (max-width: 740px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})",
);

@mixin mq($breakpoint: sp) {

  @media #{map-get($breakpoints, $breakpoint)} {

    @content;
  }
}

@mixin mq($breakpoint: tab) {

  @media #{map-get($breakpoints, $breakpoint)} {

    @content;
  }
}


body{
  margin: 0%;
}

.header{
  z-index:10;
  width: 100%;
  position: absolute;

  .header-container{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background: #3F51B5 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .header-left {
    float: left;
    height: 100%;
    img{
      margin: 31px 0px 30px 140px;
    }
  }
  @include mq('tab') {
    .header-left {
      img{
        margin: 31px 0px 30px 2rem;
      }
    }
  }
  
  .header-right {
    float: right;
    height: 100%;

    .navbar-nav{
    margin-right: 102px;
    margin-top: 40px;
    margin-bottom: 39px;
    }
    .nav{
      position: relative;
    }

    .nav-link{
      padding: 0px;
    }
    .nav-item{
      font-size: 16px;
      letter-spacing: 0;
      color: #FFFFFF;
      opacity: 1;
      margin-right: 1.9rem;
      font-family: 'Lato', sans-serif;
    }
    .nav-item:last-child{
      margin-right:0px;     
    }
  }
  .navbar-toggler {
    margin-top: 1.5em;
    margin-right: 1em;
  }
  .navbar.open {
  transform: translateX(+100%);
  transition: ease .5s;
  }

}
.drw_menu{
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition:ease .5s;
  transition:ease .5s;
  z-index:9;
  clear: both;
  position: absolute;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  .close_area{
    float: left;
    width: 50%;
    background-color: black;
    opacity: 0.5;
    height: 100%;
    text-align: right;
  }
  .menu_area{
    float: right;
    width: 50%;
    height: 100%;
    background-color: white;
  }
 }
.closs{
  display: inline-block;
  position: relative;
  margin: 0 20px 0 7px;
  padding: 0;
  width: 4px;
  height: 20px;
  background: white;
  transform: rotate(45deg);
}
.closs:before{
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 20px;
  height: 4px;
  margin-top: -2px;
  background: white;
}
.drw_menu ul {
  padding: 0px;
}

 .drw_menu ul li{
   padding: 0.5em 0 0.5em 1em;
  border-bottom: 1px solid #CCC;
  list-style: none;
  background-color: white;
  position: relative;
 }

 .drw_menu ul li a{
 color:#707070;
 font-family: 'Lato', sans-serif;
  }
  .drw_menu ul li::after{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    right: 2em;           //好きな位置で
    top: calc(50% - 1px);  //ボーダーの太さ分を引く
    border-top: solid 2px;
    border-right: solid 2px;
    transform: rotate(45deg) translateY(-50%);
    color:#707070;
  }

 /*OPEN時の動き*/
 .drw_menu.open {
  -webkit-transform:translateX(0);
  transform:translateX(0);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
 }

.main{
  z-index:0;
  position: relative;
  width: 100%;
  .caption{
    width: 100%;
  }

  .main-first{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 700px;
    background: transparent url('../img/slide1.jpeg') 0% 0% no-repeat padding-box;
    background-size: cover;
    opacity: 0.8;
    z-index:-1;
    @include mq('sp') {
      background: transparent url('../img/slide1_sp.jpeg') 0% 0% no-repeat padding-box;
      background-size: cover;
    }
  }
  .main-first2{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 700px;
    background: transparent url('../img/slide2.jpeg') 0% 0% no-repeat padding-box;
    background-size: cover;
    opacity: 0.8;
    z-index:-1;
    @include mq('sp') {
      background: transparent url('../img/slide2_sp.jpeg') 0% 0% no-repeat padding-box;
      background-size: cover;
    }
  }

  .main-first3{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 700px;
    background: transparent url('../img/slide3.jpeg') 0% 0% no-repeat padding-box;
    background-size: cover;
    opacity: 0.8;
    z-index:-1;
    @include mq('sp') {
      background: transparent url('../img/slide3_sp.jpeg') 0% 0% no-repeat padding-box;
      background-size: cover;
    }
  }
  .main-text1{
    font-size: 68px;
    font-weight: bold;
    opacity: 1;
    width: 100%;
    position: absolute;
    top: 240px;
    font-family: 'Noto Sans JP', sans-serif;

  @include mq('sp') {
    font-size: 29px;
  }
  }
  .main-text2{
    font-size: 38px;
    opacity: 1;
    width: 100%;
    position: absolute;
    top: 348px;
    font-family: 'Noto Sans JP', sans-serif;

    @include mq('sp') {
      font-size: 34px;
    }
  }
  .message{
    background-color: #3F51B5;
    color:white;
    font-size: 38px;
    padding: 17px 81px 20px 81px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    @include mq('sp') {
      font-size: 19px;
    }
  }
  .connetct{
    width: 100%;
    position: absolute;
    top:490px;
  }
  .swiper-pagination-bullet {
    width: 1em;
    height: 1em;
  }

  .swiper-button-next, .swiper-button-prev {
    background-color: white;
    padding: 2em;
    border-radius: 60px;
  }
  .swiper-button-next {
    background-image: url(../img/arrow-next.svg);
    background-size: 75px;
    right: 15em;
  }
  
  .swiper-button-prev {
    background-image: url(../img/arrow-prev.svg);
    background-size: 75px;
    left: 15em;
  }

  @include mq('tab') {
    .swiper-button-next {
      right: 2em;
    }
    
    .swiper-button-prev {
      left: 2em;
    }
  }


  @include mq('sp') {
    .swiper-button-next {
      right: 2em;
      top: 26em;
    }
    
    .swiper-button-prev {
      left: 2em;
      top: 26em;
    }
  }

}
.card{
  width: 100%;
  background-color: #EFEFEF;
  position: static;
  
  .caption{
    font-size: 60px;
    letter-spacing: 0;
    font-weight: bold;
    margin-top: 58px;
    font-family: 'Lato', sans-serif;
  }

  .heading-underline{
    width: 76px;
    height: .2rem;
    background-color: #3F51B5;
    margin: 39px auto 70px auto;
  }

  .card-containe{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    justify-content: center;
    align-items: center; 
    margin-bottom: 131px;
    font-family: 'Noto Sans JP', sans-serif;

    .card-item{

      width: calc(33.3333333% - 60px / 3);
      height: 355px;
      border-radius: 4px;
      background-color: white;
      margin: 0px 30px 20px 0;

      @include mq('tab') {
        width: calc(50% - 30px / 2);
      }
      @include mq('sp') {
        width: calc(100% - 30px / 1);
      }

      .card-img{
        width: calc(100% - 32px / 1);
        height: calc(54% - 32px / 1);
        background-color: #DDDDDD;
        margin: 16px;
      }
      .card-title{
        margin-left: 20px;
        margin-right: 16px;
        margin-top: 21.9px;
        font-size: 20px;
      }

      .card-contents{
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 16px;
      }
    }
    .card-item:nth-child(3n) {
      margin-right: 0;
    }
    @include mq('tab') {
      .card-item:nth-child(even) {
        margin-right: 0px;
      }
      .card-item:nth-child(odd) {
        margin-right: 30px;
      }
    }

    @include mq('sp') {
      .card-item:nth-child(even) {
        margin-right: 0px;
      }
      .card-item:nth-child(odd) {
        margin-right: 0px;
      }
    }

  }
}
.news{
  width: 100%;
  background-color: #FFFFFF;
  position: static;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;      

  .caption{
    font-size: 60px;
    letter-spacing: 0;
    font-weight: bold;
    margin-top: 58px;
    font-family: 'Lato', sans-serif;
  }

  .heading-underline{
    width: 76px;
    height: .2rem;
    background-color: #3F51B5;
    margin: 39px auto 70px auto;
  } 
  .news-containe{
    width: 80%;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;      
    //margin-left: 267px;
    margin: 0 auto;
    margin-bottom: 16px;
    .news-item{
      width: 100%;
      overflow: hidden; 
      border-bottom:solid 1px;
      padding: 20px 0px 20px 0px; 
      .day{
        float: left;
        font-size: 16px;
        margin-right:30px; 
        font-family: 'Lato', sans-serif;
      }
      .label{
        float: left;
        font-family: 'Noto Sans JP', sans-serif;
        a{
          padding: 4.42px 18px 4.58px 18px;
          border-radius: 6px;
          font-size: 16px;
          color:#FFFFFF;
          text-decoration: none
        }
        a:visited{
          color:#FFFFFF;
        }
        margin-right:30px; 
      }
      @include mq('tab') {
        .label{
          float:none;
        }
      }
      .label1{
        a{
          background-color: #666666;
        }
      }
      .label2{
        a{
          background-color: #3F51B5;
        }
      }
      .label3{
        a{
          background-color: #E81919;
        }
      }
      .title{
        float: left;
        width: 576px;
        font-family: 'Noto Sans JP', sans-serif;
        a{
          text-decoration: none;
        }
        a:visited{
          color:#212529;
        }
      }
      @include mq('tab') {
        .title{
          float:none;
          width: auto;
        }
      }
    }

    .news-item:last-child{
      border-bottom: 0px;
    }

  }

  .more{
    text-align: center;
    color: #E81919;
    font-weight: bold;
    margin-bottom: 29px;
    font-family: 'Lato', sans-serif;
    a{
      text-decoration: none;
      position: relative;
    }
    a:visited{
      color:#E81919;
    }
    a::after{
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      position: absolute;
      right: -10px;           //好きな位置で
      top: calc(50% - 1px);  //ボーダーの太さ分を引く
      border-top: solid 2px;
      border-right: solid 2px;
      transform: rotate(45deg) translateY(-50%);
      color:#E81919;
    }

  }
}
.price{
  width: 100%;
  background-color:#EFEFEF;
  position: static;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;      
  overflow: hidden;
  .caption{
    font-size: 60px;
    letter-spacing: 0;
    font-weight: bold;
    padding-top: 60px;
    font-family: 'Lato', sans-serif;
  }

  .heading-underline{
    width: 76px;
    height: .2rem;
    background-color: #3F51B5;
    margin: 39px auto 70px auto;
  } 
  .price-containe{
    width: 80%;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;      
    //margin-left: 267px;
    margin: 0 auto;
    margin-bottom: 102px;
    overflow: hidden;
    .image{
      width: 360px;
      height: 300px;
      float: left;
      margin-right: 5rem;
    }

    table.price_table {
      border: 1px solid #333;
      border-collapse: collapse;
      table-layout: fixed;
      th,td {
        border: 1px solid #707070;
        width: 191px;
      }
      th{ 
        background-color: #999999;
        color:#FFFFFF;
        text-align: center;
        font-family: 'Lato', sans-serif;
      }
      th:nth-child(2){
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }

      td{ 
        background-color: #FFFFFF;
        color:#333333;
        text-align: right;
        padding: 0.5rem 21px 0.5rem 0;
        font-family: 'Lato', sans-serif;
      }

      p{
        margin-bottom: 0;
        margin-top: 0;
        color: #E81919;
      }
      .jp-la{
        font-family: 'Noto Sans JP', sans-serif;
      }
    }
    .table_comment{
      margin-top:1rem;
      font-family: 'Noto Sans JP', sans-serif;
      a{
        color: #333333;
        text-decoration-line: underline;
      }
    }
  }
  @include mq('tab') {
    .price-containe{
      text-align: center;
      width: 90%;
      .image{
        float: none;
        margin-right: 0;
        margin-bottom: 2rem;

      }
    }

    table.price_table {
    margin: 0 auto;
    }
  }

  @include mq('sp') {
    .price-containe{
      text-align: center;
      width: 90%;
      .image{
        float: none;
        margin-right: 0;
        margin-bottom: 2rem;

      }
    }
  }

}


.access{
  width: 100%;
  background-color:#FFFFFF;
  position: static;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;      
  .caption{
    font-size: 60px;
    letter-spacing: 0;
    font-weight: bold;
    padding-top: 60px;
    font-family: 'Lato', sans-serif;
  }

  .heading-underline{
    width: 76px;
    height: .2rem;
    background-color: #3F51B5;
    margin: 39px auto 70px auto;
  } 
  .map-containe{
    text-align: center;
    margin-bottom: 41.57px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  @include mq('sp') {
    .map-containe{
      text-align: center;
      margin-bottom: 41.57px;
      overflow: hidden;
      position: relative;
      width: 100%;
      padding-top: 50%; /* = height ÷ width × 100 */
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }


  .access_text{
    margin-bottom: 37.85px;
    margin-left: 323px;
    table-layout: fixed;
    font-family: 'Noto Sans JP', sans-serif;

  }
  @include mq('sp') {
    .access_text{
      margin-left: 2rem;
    }
  }
  .access_text td:first-child{
    padding-right: 2rem;
  }

  .access_btn_wrap{
    margin-bottom: 136px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 150px;
    font-family: 'Noto Sans JP', sans-serif;

    .access_btn{
      width: calc(230px - 93px - 16px);
      height: calc(50px - 15px - 14px);
      background-color: #3F51B5;
      color: white;
      font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
      border-radius: 10px;
      padding: 16px 58px 14px 59px;
      font-size: 20px;
      position: relative;
      text-decoration: none;
    }
    a::after{
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      right: 2rem;           //好きな位置で
      top: calc(50% - 1px);  //ボーダーの太さ分を引く
      border-top: solid 2px;
      border-right: solid 2px;
      transform: rotate(45deg) translateY(-50%);
      color: white;
    }
  }
}

.qanda{
  width: 100%;
  background-color:#EFEFEF;
  position: static;
  font-family: 'Noto Sans JP', sans-serif;
  padding-bottom: 5rem;
  font-size: 18px;

  .caption{
    font-size: 60px;
    letter-spacing: 0;
    font-weight: bold;
    padding-top: 60px;
    font-family: 'Lato', sans-serif;
  }

  .heading-underline{
    width: 76px;
    height: .2rem;
    background-color: #3F51B5;
    margin: 39px auto 70px auto;
  } 
  .qanda-containe{
    text-align: center;
    margin-bottom: 41.57px;
    overflow: hidden;
    position: relative;
    margin: 0 15em 0rem 15em;
    background-color: #FFFFFF;
  }

  #faq-list {
    padding: 0;
    margin: 0;
  }
  .faq-list-item {
    border-bottom:1px solid #ccc;
    position:relative;
    cursor:pointer;
    text-align: left;
    list-style: none;
    }

    .faq-list-item .qmark {
      display: inline;
      margin-right: 1em;
    }

    .parts-plus {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      position: absolute;
      cursor: pointer;
      right: 1em;
    }

    .parts-plus span::before,
    .parts-plus span::after {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 84%;
      height: 16%;
      margin: -8% 0 0 -42%;
      background: rgb(232, 244, 243);
    }
    .parts-plus span::after {
      transform: rotate(90deg);
    }

    .parts-minus {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      position: absolute;
      cursor: pointer;
      right: 1em;
    }
    .parts-minus span::before {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 84%;
      height: 16%;
      margin: -8% 0 0 -42%;
      background: rgb(248, 240, 240);
    }

    .question{
      background-color: #3F51B5;
      color: white;
      padding: 1.25em 1em;
    }

    .answer {
    display: none;   
    padding: 1em;
    width: 100%;
      .amark{
        display: inline-block;
        width: 3%;
        float: left;
        padding-right: 1em;
      }
      .answer-text{
        display: inline-block;
        width: 97%;
      }
    }
    @include mq('tab') {
      .qanda-containe{
        text-align: center;
        margin-bottom: 41.57px;
        overflow: hidden;
        position: relative;
        margin: 0 5em 0rem 5em;
        background-color: #FFFFFF;
      }
    }

    @include mq('sp') {
      .question{
        font-size: 0.85em;
        padding: 0.2em 0.2em;
      }
 
      .qanda-containe{
        margin: 0 0.5em 0rem 0.5em;
      }
      .parts-plus {
        right: 0.5em;
      }
      .parts-minus {
        right: 0.5em;
      }
    }
}

.contact{
  width: 100%;
  background-color:white;
  position: static;
  font-family: 'Noto Sans JP', sans-serif;
  padding-bottom: 5rem;
  .policy-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display:none;
  }
  
  .policy-modal {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto;
    background-color: #e6ecf0;
    padding: 0px;
    border-radius: 10px;
    width: 930px;
    height: 610px;
    text-align: center;
  }

  .policy-close-mark{
    content:url(/img/btn-batsu.svg);
    position: absolute;
    top: -2%;
    right: -1%;
  }

  .policy-containe{
    width: 100%;
    height: 100%;
    .policy-caption{
      font-size: 24px;
      letter-spacing: 0;
      font-weight: bold;
      padding-top: 60px;
      font-family: 'Lato', sans-serif;
    }
    .heading-underline{
      width: 14em;
      height: .2rem;
      background-color: #3F51B5;
      margin: 1.5em auto 2em auto;
    } 
    .contents{
      margin: 0 3em;
    }
    .contents::not(:first-of-type){
      margin: 3em 3em;
    }

    @include mq('sp') {
      .contents{
        margin: 0 1em;
      }
      .contents::not(:first-of-type){
        margin: 3em 1em;
      }
    }


    .policy-title-wrapper{
      border-left: solid 3px #3F51B5;
      .policy-title{
        font-size: 20px;
        text-align: left;
        margin-left: 1em;
      }
    }
    .policy-text{
      font-size: 16px;
      text-align: left;
      margin-left: 1.5em;
      margin-bottom: 1.5em;
      padding: 1em 0em;
    }

    .policy-close-wrapper{
      padding: 1em 0em;
      margin-bottom: 2em;
    }

    .policy-close{
      background-color: #3F51B5;
      color:white;
      font-size: 16px;
      padding: 1em 4.5em;
      border-radius: 5px;
      text-decoration: none;
      font-family: 'Noto Sans JP', sans-serif;
      margin-bottom: 1em;
      @include mq('sp') {
        font-size: 16px;
      }
    }
  }
  @include mq('tab') {
    .policy-containe{
      overflow: overlay;
    }
    .policy-modal {
      width: 90%;
      height: 90%;

    }
  }
  @include mq('sp') {
    .policy-containe{
      overflow: overlay;
    }
    .policy-modal {
      width: 90%;
      height: 95%;
    }

    .contact .policy-containe .policy-caption {
      padding-top: 1em;
    }
  }

  .caption{
    font-size: 60px;
    letter-spacing: 0;
    font-weight: bold;
    padding-top: 60px;
    font-family: 'Lato', sans-serif;
  }

  .heading-underline{
    width: 76px;
    height: .2rem;
    background-color: #3F51B5;
    margin: 39px auto 70px auto;
  } 
  .contact-containe{
    text-align: center;
    margin-bottom: 41.57px;
    overflow: hidden;
    position: relative;
    margin: 0 15rem 0rem 15rem;
    background-color: #FFFFFF;
    padding-bottom: 10rem;
    padding-top: 3rem;
  }
  @include mq('tab') {
    .contact-containe{
      margin: 0 0rem 0rem 0rem;
    }
  }
  .contact-form{
    .name-wrap{
      margin: 0 43px 0 52px;
    }
    .form-label{
      width: 229px;
      float: left;
      margin-top: 1rem;
      text-align: left;
      position: relative;
    }

    .form-text {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: transparent;
      background-image: none;
      border: 1px solid rgba(0, 0, 0, 0.16);
      border-radius: 0;
      color: inherit;
      font-family: inherit;
      font-size: 1em;
      padding: 0.4em 0.8em;
      width: 70%;
      height: 3rem;
    }

    .form-text:focus {
      border: 1px solid rgba(0, 0, 0, 0.32);
      box-shadow: none;
      outline: none;
    }

    .required{
      position: absolute;
      border-radius: 150px;
      color: white;
      background-color: red;
      font-size: 14px;
      padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    }
    .email-wrap{
      margin: 3rem 43px 0 52px;
    }
    .type-wrap{
      margin: 3rem 43px 0 52px;
    }
    .contents-wrap{
      margin: 3rem 43px 0 52px;
    }
    .radio-wrap{
      margin: 3rem 43px 0 52px;
      text-align: left;
    }
    .check-wrap{
      margin: 3rem 43px 0 52px;
    }

    .submit_btn_wrap{
      margin: 3rem 43px 0 52px;
    }

    .form-select{
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: transparent url(../img/arrow.jpeg) no-repeat center right 8px/16px 16px;
      border: 1px solid rgba(0, 0, 0, 0.16);
      border-radius: 0;
      color: inherit;
      cursor: pointer;
      font-family: inherit;
      font-size: 1em;
      padding: 0.4em 0.8em;
      width: 70%;
      height: 3rem;
      margin: 0 0 0 -1.5rem;
    } 

    .form-select::-ms-expand {
      display: none;
    }
    
    .form-select:focus {
      border: 1px solid rgba(0, 0, 0, 0.32);
      box-shadow: none;
      outline: none;
    }

    .form-textarea {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: transparent;
      background-image: none;
      border: 1px solid rgba(0, 0, 0, 0.16);
      border-radius: 0;
      color: inherit;
      font-family: inherit;
      font-size: 1em;
      height: 100px;
      padding: 0.4em 0.8em;
      width: 70%;
      height: 20rem;
      margin: 0 0 0 -1.5rem;
      resize: none;
    }

    .form-textarea:focus {
      border: 1px solid rgba(0, 0, 0, 0.32);
      box-shadow: none;
      outline: none;
    }

    .radio-test {
      display: none;
    }
    
    .radio-test + span {
      cursor: pointer;
      display: inline-block;
      margin: 0 0.2em 0;
      padding: 0 0 0 2em;
      position: relative;
    }
    
    .radio-test + span::before {
      -webkit-transform: translateY(-50%);
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.16);
      border-radius: 50%;
      content: "";
      display: block;
      height: 30px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
    }
    
    .radio-test + span::after {
      -webkit-transform: translateY(-50%);
      background: #3F51B5;
      border: 1px solid transparent;
      border-radius: 50%;
      content: "";
      height: 20px;
      left: 5px;
      opacity: 0;
      padding: 2px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s ease 0s;
      width: 20px;
    }
    
    .radio-test:checked + span::after {
      opacity: 1;
    }

    .check-test {
      display: none;
    }
    
    .check-test + span {
      cursor: pointer;
      display: inline-block;
      margin: 0 0.2em 0;
      padding: 0 0 0 2em;
      position: relative;
    }
    
    .check-test + span::before {
      -webkit-transform: translateY(-50%);
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.16);
      border-radius: 2px;
      content: "";
      display: block;
      height: 1.5em;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 1.5em;
    }
    
    .check-test + span::after {
      -webkit-transform: translateY(-50%) rotate(-45deg);
      border-bottom: 3px solid #3F51B5;
      border-left: 3px solid #3F51B5;
      content: "";
      display: block;
      height: 0.6em;
      left: 0.1em;
      margin-top: -0.2em;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
      transition: all 0.3s ease 0s;
      width: 1.2em;
    }
    
    .check-test:checked + span::after {
      opacity: 1;
    }
    .check-wrap a{
      text-decoration: underline;
    }
    .submit-test {
      -webkit-appearance: none;
      background-color: #3F51B5;
      background-image: none;
      border: none;
      border-radius: 12px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 1.5em;
      margin: 0 0 0em;
      padding: 0.6em 2em;
      text-decoration: none;
      width: 100%;
    }

    .submit-test:hover,
    .submit-test:focus {
      outline: none;
    }
    
    .submit-test::-moz-foucus-inner {
      border: none;
      padding: 0;
    }
    .submit-btn{
      position: relative;
      display: inline-block;
      color: #fff;
      width: 40%;
    }

    .submit-btn::after{
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      position: absolute;
      right: 2rem;           //好きな位置で
      top: calc(50% - 1px);  //ボーダーの太さ分を引く
      border-top: solid 3px;
      border-right: solid 3px;
      transform: rotate(45deg) translateY(-50%);
      color: white;
    }
    a:visited{
      color:#212529;
    }

    @include mq('tab') {
      .form-label{
        float: none;
      }
      .form-textarea {
        width: 100%;
        margin: 0 0 0 0rem;   
      }
      .form-text{
        width: 100%;
      }
      .required{
        top: -0.2rem;
        left: 8rem;
      }
      .form-select{
        width: 100%;
        margin: 0 0 0 0rem;
       }
    }
    @include mq('sp') {
       .submit-btn{
        width: 100%;
       }
    }
  }
}
.footer{
  width: 100%;
  background: -moz-linear-gradient(top, #666666, #333333);
  background: -webkit-linear-gradient(top, #666666, #333333);
  background: linear-gradient(to bottom, #666666, #333333);

  position: static;
  font-family: 'Noto Sans JP', sans-serif;
  padding-bottom: 5rem;
  padding-top: 3rem;
  color:#FFFFFF;
  overflow: hidden;
  .footer-containe{
    margin: 0 10em 0 10em;
    width:100%;
  }

  img{
    margin-bottom: 2em;
  }

  .footer-left{
    margin: 3rem 3rem 0 3rem;
    float: left;
  }
  .footer-center{
    margin: 3rem 3rem 0 3rem;
    float: left;
    font-family: 'Lato', sans-serif;
    p{
      margin-top: 10em;
    }
  }
  .footer-right{
    margin: 3rem 3rem 0 3rem;
    float: left;
    position: relative;
  }
  a:visited{
    color:#FFFFFF;
  }
  a{
    color:#FFFFFF;
  }

  .circle{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: #55ACEE;
    float: left;
  }
  
  .circle-1{
    background: #55ACEE;
   }
  .circle-2{
    background: #3B5998;
    margin: 0 1em 0 1em;
  }
  .circle-3{
    background: #D93177;
  }

  @include mq('tab') {
    .footer-containe{
      margin: 0 0em 0 0em;
    }
    .footer-left{
      float: none;
    }
    .footer-center{
      float: none;
      p{
        margin-top: 0em;
      }
    }
    .footer-right{
      float: none;
    }
  }  
}

.menu-hover {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
}
.menu-hover::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: rgb(252, 0, 0);
  transition: all 0.3s ease 0s;
}
.menu-hover:hover {
  cursor: pointer;
}
.menu-hover:hover::after {
  width: 100%;
}

.menu-underline{
  border-bottom: 1px solid rgb(252, 0, 0);
  padding-bottom: 2px;
}


.btn-hover {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.btn-hover:hover {
  opacity: 0.6;
}

.top_btn{
  position: fixed;
  right: 8px;
  bottom: 8px;
  display: none;
}

@include mq('sp') {
  .top_btn{
    position: absolute;
    top: 0px;
    left: 12em;
  }
}  


